html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
    background-color: rgb(37, 41, 54);
    color: antiquewhite;
}

h1{
    text-align: center;
}

#container{
    justify-self: center;
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    color: black;
    flex: auto;
    background-color: white;
    border: solid 1px black;
}

.square-colored{
    color: black;
    flex: auto;
    background-color: rgb(192, 34, 34);
    border: solid 1px black;
}

#btnSquarePerSide{
    padding: 10px;
    margin: 10px;
}