html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
    background-color: rgb(37, 41, 54);
    color: antiquewhite;
}

h1{
    text-align: center;
}

#container{


    justify-self: center;
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: 30px;
    width: 30px;
    flex: auto;
    background-color: white;
    border: solid 1px black;
}