html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
    background-color: rgb(37, 41, 54);
    color: antiquewhite;
}

h1{
    text-align: center;
}

#container{
    justify-self: center;
    width: 600px;
    height: 600;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.square{
    color: black;
    flex: auto;
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
}

.square-colored{
    color: black;
    flex: auto;
    background-color: rgb(44, 84, 12);
    border: solid 1px black;
}

#btnSquarePerSide{
    padding: 10px;
    margin: 10px;
}   

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.checkRandom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.colorpicker{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}